
<mat-toolbar>
    <div
      class="header"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="header__title">
        {{ content.title }}
      </div>
      <div class="header__subtitle">
        {{ content.subtitle }}
      </div>
      <div class="header__menu">
        {{ content.menu }}
      </div>

      <ul> 
        <li>галерея тортов</li>
        <li>прайс лист</li>
        <li>сделать заказ</li>
        <li>отзывы</li>
        <li>доставка</li> 
        <li>контакты</li> 
      </ul>   

      <div class="header__menu">
        <div class="галерея тортов"></div>
        <div class="прайс лист"></div>
        <div class="сделать заказ"></div>
        <div class="отзывы"></div>
        <div class="доставка"></div>
        <div class="контакты"></div>
      </div>
    </div>
</mat-toolbar>
